<%- include('partials/index-header') %>


    <!--====== PAGE TITLE PART START ======-->



    <div class="page-title-area bg_cover" style="    background: linear-gradient(to right, #7fa046, #B2BEB5),url(assets/images/about.jpg) no-repeat top center;    " >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content " >
                        <h3 class="title" >About</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== GET TO KNOW PART START ======-->
    
    <section class="get-to-know-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="get-to-know-thumb mr-70 animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <img src="assets/images/events.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="get-to-know-content">
                        <h3 class="title">Get to know about HarHub.</h3>
                        <p>After realizing that the unemployment rate among those under 30 in Somaliland, who comprise 70% of the population, is 67% we have decided to identify ways we can help young people access opportunities and create jobs for the one another, Now we have programs and services tailored that allow young innovators and entrepreneurs to create, build, scale and sustain social ventures that tackle the communities most pressing issues such as unemployment.</p>
                        <ul>
                            <li><i class="fa fa-check"></i> Co-working space</li>
                            <li><i class="fa fa-check"></i> Events</li>
                            <li><i class="fa fa-check"></i> Investments</li>
                            <li><i class="fa fa-check"></i> what you waiting for?</li>
                        </ul>
                        <a class="main-btn main-btn-2" href="book-a-tour.html">Book a tour</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-pattern">
            <img src="assets/images/shape-pattern.png" alt="">
        </div>
    </section>
    
    <!--====== GET TO KNOW PART ENDS ======-->

    <!--====== CODESK CHANGING PART START ======-->
    
    <section class="codesk-changing-area bg_cover" style="background-image: url(assets/images/design.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="codesk-changing-text">
                        <h3 class="title">HarHub is changing the way people and companies work.</h3>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="codesk-changing-play text-left text-lg-right">
                        <a class="main-btn video-popup" href="https://www.youtube.com/watch?v=_9MEYFNyilQ"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== CODESK CHANGING PART ENDS ======-->

    <!--====== TESTIMONIAL PART START ======-->
    
    <div class="testimonial-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-title text-center">
                        <h2 class="title">What they are saying.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonial-area">
        <div class="container">
            <div class="row testimonial-active">


                
                    

                


              <%testimonials.forEach(i =>{ %>

                <% if(testimonials.length < 2){ %>
                <div class="col-lg-12">
                <%}else{%>
                    <div class="col-lg-4">

                <%}%>
                    <div class="testimonial-item text-center">
                        <p><%=i.comment%></p>
                        <h4 class="title"><%=i.firstName%></h4>
                        <span><%=i.position%></span>
                        <img style="height:72px; width:72px; border-radius:50%;" src="assets<%=i.pic%>" alt="testimonial">
                        <div class="icon">
                            <img src="assets/images/quote-icon.png" alt="">
                        </div>
                    </div>
                </div>

<%})%>







                
            </div>
        </div>
        <div class="testimonial-pattern">
            <img src="assets/images/testimonial-pattern.png" alt="">
        </div>
    </section>
    
    <!--====== TESTIMONIAL PART ENDS ======-->

 <!--====== JOIN COMMUNITY PART START ======-->
  
 <section class="join-community-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-community-content">
                    <h3 class="title animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">Join a community of early stage startups.</h3>
                    <p class=" animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">HarHub Business Incubation is the first incubation in Somaliland/Somalia and is designed to empower entrepreneurs, freelancers, Job seekers and digital nomads with safe, secure, cool, and work-oriented space to foster startups growth and sustainability.</p>
                    <a class="main-btn animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="600ms" href="/about">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="join-community-counter">
        <div class="item">
            <h3 class="title counter">880</h3>
            <p>Creative people space is available.</p>
        </div>
        <div class="item item-2">
            <h3 class="title"><span class="counter">70</span>+</h3>
            <p>Conference & meeting rooms available.</p>
        </div>
    </div>
    <div class="community-logo">
        <img src="assets/images/footer-pattern.png" style="height: 250px; width: 250px; " alt="">
    </div>
</section>

<!--====== JOIN COMMUNITY PART ENDS ======-->


    <!--====== TEAM PART START ======-->
    
    <section class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title text-center">
                        <h3 class="title">Team members</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="team-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="team-thumb">
                            <img src="assets/images/team/batalaale.png" alt="team">
                        </div>
                        <div class="team-content text-center">
                            <h4 class="title">Mahmoud Batalaale</h4>
                            <span>Manager</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="team-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="100ms">
                        <div class="team-thumb">
                            <img src="assets/images/team/ali-sugule.jpeg" alt="team">
                        </div>
                        <div class="team-content text-center">
                            <h4 class="title">Ali Sugule</h4>
                            <span>CFO</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="team-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                        <div class="team-thumb">
                            <img src="assets/images/team/abdibasid.jpeg" alt="team">
                        </div>
                        <div class="team-content text-center">
                            <h4 class="title">Abdibasid Ibrahim</h4>
                            <span>Consultant</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-pattern">
            <img src="assets/images/services-dot.png" alt="">
        </div>
    </section>
    
    <!--====== TEAM PART ENDS ======-->

    <!--====== COMPANY LOGOS PART START ======-->
    
    <section class="company-logos-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="company-logos-text">
                        <h3 class="title">Clients we <br> have worked <br> with.</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="logo-item mt-15">
                                <img src="assets/images/clients/client-1.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="logo-item mt-15">
                                <img src="assets/images/clients/client-2.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="logo-item mt-15">
                                <img src="assets/images/clients/client-3.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="logo-item mt-80">
                                <img src="assets/images/clients/client-4.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="logo-item mt-80">
                                <img src="assets/images/clients/client-5.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== COMPANY LOGOS PART ENDS ======-->

    <%- include('partials/index-footer') %>
