<%- include('partials/index-header.ejs') %>

<section class="light">
  <div class="banner" style="margin-bottom: 20px" data-aos="zoom-out">
    <span class="banner-header">HarHub news Center!</span>
  </div>

  <div class="container py-2">
    <%blogs.forEach(i => {%> <% let newDate = new Date(i.date) %> <%let days =
    ['Sunday', 'Monday', 'Tuesday','Wednesday', 'Thursday','Friday',
    'Saturday']%> <%let currentDay = newDate.getDay()%> <% let months =
    ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
    'September', 'October', 'November', 'December'];%>

    <article class="postcard light green" data-aos="fade-left">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../assets/<%=i.pic%>"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title yellow">
          <a href="#"><%=i.blogName%></a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="bx bx-calendar mr-2"></i><%=days[currentDay]%>, <%=
            months[newDate.getMonth()]%> <%=newDate.getDate()%>th
            <%=newDate.getFullYear()%>
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          <%=i.description.substring(0, 300)%>...
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item">
            <i class="bx bx-purchase-tag mr-2"> </i><%=i.category%>
          </li>
          <li class="tag__item">
            <i class="bx bx-stopwatch mr-2"></i
            ><%=Math.round(i.description.length/200) %>mins
          </li>
          <li class="tag__item play yellow">
            <a href="/<%=i.blogName%>/<%=i._id%>"
              ><i class="bx bx-play mr-2"></i>Read More</a
            >
          </li>
        </ul>
      </div>
    </article>
    <%})%>
  </div>
  <!-- row -->
</section>
<%- include('partials/index-footer.ejs') %>
