<%- include('partials/index-header') %>

    <!--====== BANNER PART START ======-->
    <section class="banner-slide banner-slide-2">
      <div class="banner-area bg_cover d-flex align-items-center" style="background-image: 
    linear-gradient(
      rgba(47, 46, 46, 0.45), 
      rgba(47, 46, 46, 0.45)
    ),
    url(assets/images/girls.jpg);
      
      ">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-9">
                      <div class="banner-content text-center">
                          <h1 style=" text-shadow: 2px 2px 18px #434343;" data-animation="fadeInDown" data-delay=".5s" class="title">Building ideas <span>,</span>one idea at a time</h1>
                          <p style=" text-shadow: 2px 2px 18px #434343;" data-animation="fadeInLeft" data-delay=".5s">We Focus on Creativity to Build Communities.</p>
                          <a data-animation="fadeInUp" data-delay="1s" class="main-btn" href="#space">Get Started</a>
                      </div>
                  </div>
              </div>
          </div>
      
      </div>
      <div class="banner-area bg_cover d-flex align-items-center" style="background-image: 
      linear-gradient(
        rgba(47, 46, 46, 0.45), 
        rgba(47, 46, 46, 0.45)
      ),
      url(assets/images/boys.jpg);
        
        ">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-9">
                      <div class="banner-content text-center">
                          <h1 style=" text-shadow: 2px 2px 18px #434343;" data-animation="fadeInDown" data-delay=".5s" class="title">Turning dreams   <span>into</span> businesses</h1>
                          <p style=" text-shadow: 2px 2px 18px #434343;" data-animation="fadeInLeft" data-delay=".5s">We Focus on Innovation to Build Communities.</p>
                          <a data-animation="fadeInUp" data-delay="1s" class="main-btn" href="#space">Get Started</a>
                      </div>
                  </div>
              </div>
          </div>
        
          <!-- <div class="banner-logo">
              <img src="assets/images/banner-logo.png" alt="">
          </div> -->
      </div>
  </section>
  
  <!--====== BANNER PART ENDS ======-->

  <!--====== SUB PART START ======-->
  
  <section class="sub-area">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-4 col-md-7">
                  <div class="sub-item mt-30">
                      <i class="flaticon-cctv"></i>
                      <h4 class="title">Vision</h4>
                      <p>To be a hub for business-and people-driven impact in Somali-speaking regions and beyond.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-7">
                  <div class="sub-item mt-30">
                      <i class="flaticon-plus"></i>
                      <h4 class="title">Mission</h4>
                      <p>To build an entrepreneurial community, Business Incubation and create solutions for an Ecosystem that works for all.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-7">
                  <div class="sub-item mt-30">
                      <i class="flaticon-workspace"></i>
                      <h4 class="title">Inspiration</h4>
                      <p>Why do we feel different? We have a flexible mentality... We embrace creativity.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <!--====== SUB PART ENDS ======-->

  <!--====== FIND SPACE PART START ======-->
  
  <section class="find-space-area" id="space">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="find-space-title text-center">
                      <h3 class="title">Find the space that's right for you.</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="find-space d-block d-lg-flex">
                      <div class="find-space-item mt-30 d-block d-sm-flex active">
                          <div class="find-space-thumb" >
                              <img src="assets/images/f1.jpg" style="height: 315px; width: 285px;" alt="">
                          </div>
                          <div class="find-space-content">
                              <h4 class="title">Coworking Space</h4>
                              <p>Comfortable enviourment for your next big thing.</p>
                              <a href="/tour"><i class="flaticon-right-arrow"></i></a>

                          </div>
                      </div>
                      <div class="find-space-item mt-30 d-block d-sm-flex">
                          <div class="find-space-thumb">
                              <img src="assets/images/cv.jpg" style="height: 315px; width: 285px;" alt="">
                          </div>
                          <div class="find-space-content">
                              <h4 class="title">Events</h4>
                              <p>Weekly exciting yet intriguing and conterversal events.</p>
                              <a href="/tour"><i class="flaticon-right-arrow"></i></a>

                          </div>
                      </div>
                      <div class="find-space-item mt-30 d-block d-sm-flex">
                          <div class="find-space-thumb">
                              <img src="assets/images/f6.jpg" style="height: 315px; width: 285px;" alt="">
                          </div>
                          <div class="find-space-content">
                              <h4 class="title">Entrepreneurship</h4>
                              <p>Investment oppurtunities for youths for their well-thought ideas.</p>
                              <a href="/tour"><i class="flaticon-right-arrow"></i></a>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="find-pattern">
          <img src="assets/images/fun-facts-pattern.png" alt="">
      </div>
  </section>
  
  <!--====== FIND SPACE PART ENDS ======-->

  <!--====== LEADING PART START ======-->
  
  <section class="leading-area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="leading-thumb animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                      <img src="assets/images/generationequality.jpg" alt="leading">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="leading-content ml-70">
                      <h3 class="title">We’re leading in coworking space business.</h3>
                      <p>Why do we feel different? We have a flexible mentality. We embrace creativity. To be a hub for business-and people-driven impact in all Somali-speaking regions and beyond.</p>
                      <div class="list-item">
                          <div class="item">
                              <span><i class="fa fa-check"></i> Shared access to premium amenities</span>
                          </div>
                          <div class="item item-2">
                              <span><i class="fa fa-check"></i> Create your ideal office from the ground up</span>
                          </div>
                          <div class="item">
                              <span><i class="fa fa-check"></i> Desk space in lockable office</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="leading-line">
          <img src="assets/images/we-know-line.png" alt="">
      </div>
      <div class="leading-dot">
          <img src="assets/images/cta-dot-4.png" alt="">
      </div>
  </section>
  
  <!--====== LEADING PART ENDS ======-->

  <!--====== BRAND PART START ======-->
  
  <section class="brand-area bg_cover" style="background-image: url(assets/images/view.jpg);">
      <div class="container">
          <div class="brand-box">
              <div class="row barnd-active">
                  <div class="col-lg-3">
                      <div class="brand-item">
                          <a href="#"><img src="assets/images/clients/client-1.jpeg" alt=""></a>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="brand-item">
                          <a href="#"><img src="assets/images/clients/client-2.jpeg" alt=""></a>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="brand-item">
                          <a href="#"><img src="assets/images/clients/client-3.jpeg" alt=""></a>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="brand-item">
                          <a href="#"><img src="assets/images/clients/client-4.jpeg" alt=""></a>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="brand-item">
                          <a href="#"><img src="assets/images/clients/client-5.jpeg" alt=""></a>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="brand-item">
                          <a href="#"><img src="assets/images/clients/client-6.jpeg" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-9">
                  <div class="brand-content text-center">
                      <h3 class="title">Harhub gives you unmatched agility without compromising on experience.</h3>
                      <a class="main-btn" href="/tour">Book a tour</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <!--====== BRAND PART ENDS ======-->

  <!--====== JOIN COMMUNITY PART START ======-->
  
  <section class="join-community-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="join-community-content">
                      <h3 class="title animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">Join a community of early stage startups.</h3>
                      <p class=" animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">HarHub Business Incubation is the first incubation in Somaliland/Somalia and is designed to empower entrepreneurs, freelancers, Job seekers and digital nomads with safe, secure, cool, and work-oriented space to foster startups growth and sustainability.</p>
                      <a class="main-btn animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="600ms" href="/about">Read more</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="join-community-counter">
          <div class="item">
              <h3 class="title counter">80</h3>
              <p>Creative people space is available.</p>
          </div>
          <div class="item item-2">
              <h3 class="title"><span class="counter">30</span>+</h3>
              <p>Conference & meeting rooms available.</p>
          </div>
      </div>
      <div class="community-logo">
          <img src="assets/images/footer-pattern.png" style="height: 250px; width: 250px; " alt="">
      </div>
  </section>
  
  <!--====== JOIN COMMUNITY PART ENDS ======-->

  <!--====== UPPCOMING EVENTS PART START ======-->
  
  <section class="upcoming-events-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="upcoming-events-title text-center">
                      <h3 class="title">Upcoming events</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="upcoming-events-item">
                    <% let newDate = new Date(events[events.length -1].date) %> <%let currentDay
                      = newDate.getDay()%> <% let months = ['January', 'February', 'March', 'April',
                      'May', 'June', 'July', 'August', 'September', 'October', 'November',
                      'December'];%>

                      <%let cutted = events[events.length -1].body.substring(0, 100)%>
                      <div class="item mt-20">
                          <div class="row align-items-center">
                              <div class="col-lg-9">
                                  <div class="upcoming-events-content d-block d-md-flex align-items-center">
                                      <div class="thumb">
                                        <img src="assets<%=events[events.length -1].pic%>" style="width:130px; height:128px;" alt="">
                                        <div class="date">
                                              <span><%=currentDay%> <%=months[newDate.getMonth()]%></span>
                                          </div>
                                      </div>
                                      <div class="content ml-65">
                                          <ul>
                                            <li><i class="fa fa-clock-o"></i> <%=events[events.length -1].time%> </li>
                                            <li><i class="fa fa-user-o"></i> Admin </li>
                                          </ul>
                                          <h4 class="title"><%=events[events.length -1].title%></h4>
                                          <p><%=cutted%>...</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-3">
                                  <div class="events-btn text-left text-lg-right">
                                      <a class="main-btn main-btn-2" href="eventcards">See events</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="events-pattern">
          <img src="assets/images/services-pattern.png" alt="">
      </div>
  </section>
  
  <!--====== UPPCOMING EVENTS PART ENDS ======-->

  <!--====== JOIN THOUSANDS PART START ======-->
  
  <section class="join-thousands-area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5">
                  <div class="join-thousands-thumb animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                      <img src="assets/images/talking.jpg" alt="thousands">
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="join-thousands-content ml-70">
                      <h3 class="title">Join thousand of people who are part of the Harhub space.</h3>
                      <div class="item">
                          <span><span>01 <i class="flaticon-right-arrow"></i></span> Services for a global network of creators</span>
                          <p>Sharing ideas/knowledge supports both entrepreneurs & experienced executives.</p>
                      </div>
                      <div class="item mt-30">
                          <span><span>02 <i class="flaticon-right-arrow"></i></span> About our workspace offering</span>
                          <p>Training and development that ensure every business achieving its full potential.</p>
                      </div>
                      <a class="main-btn main-btn-2 mt-40" href="about">Join us now</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="thousands-line">
          <img src="assets/images/thousands-line.png" alt="">
      </div>
      <div class="thousands-dot">
          <img src="assets/images/thousands-dot.png" alt="">
      </div>
  </section>
  
  <!--====== JOIN THOUSANDS PART ENDS ======-->

  <!--====== PRICING PART START ======-->
  
  <section class="pricing-area">
      <div class="pricing-title-area">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <div class="pricng-title text-center">
                          <h3 class="title">Choose pricing plans for space</h3>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pricing-pattern">
              <img src="assets/images/pricing-pattern.png" alt="">
          </div>
          <div class="pricing-logo">
            <img src="assets/images/pricing-pattern.png" alt="">
        </div>
      </div>
      <div class="pricing-item-area">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-4 col-md-7 col-sm-9">
                      <div class="pricing-item text-center">
                          <span>Basic pack</span>
                          <h3 class="title">$20.00</h3>
                          <div class="list">
                              <ul>
                                  <li>USE OF COFFEE STATION <i class="fa fa-check"></i></li>
                                  <li>ONE DESK SPACE <i class="fa fa-check"></i></li>
                                  <li>FAST & SECURE INTERNET <i class="fa fa-check"></i></li>
                                  <li>ACCESS TO THE FACILITY 8am to 4pm <i class="fa fa-check"></i></li>
                                  <li>ACCESS TO INVITES ONLY EVENTS <i class="fa fa-check"></i></li>   
                                  <li class="na">THREE DESKS <i class="fa fa-check"></i></li>
        
                              </ul>
                          </div>
                          <a class="main-btn main-btn-2" href="/tour">Book space</a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-7 col-sm-9">
                      <div class="pricing-item text-center">
                          <span>Standard pack</span>
                          <h3 class="title">$40.00</h3>
                          <div class="list">
                              <ul>
                                  <li class="na">CONFERENCE HALL (3 HOURS /MONTH) <i class="fa fa-check"></i></li>
                                  <li class="na">SECURE STORAGE WITH 24/7 ACCESS <i class="fa fa-check"></i></li>
                                  <li class="na">COFFEE TABLE <i class="fa fa-check"></i></li>
                                  <li class="na">THREE DESKS <i class="fa fa-check"></i></li>
                                  <li class="na">ACCESS CLOSED EVENTS AT THE HUB <i class="fa fa-check"></i></li>
                              </ul>
                          </div>
                          <a class="main-btn main-btn-2" href="/tour">Book space</a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-7 col-sm-9">
                      <div class="pricing-item text-center">
                          <span>Ultimate  pack</span>
                          <h3 class="title">$90.00</h3>
                          <div class="list">
                              <ul>
                                  <li>ACCESS TO ALL EVENTS <i class="fa fa-check"></i></li>
                                  <li>ACCESS PRINTING & BUSINESS <i class="fa fa-check"></i></li>
                                  <li>ACCESS TO THE FACILITY 8am to 8pm <i class="fa fa-check"></i></li>
                                  <li class="na">PRIVATE MEETING ROOMS (8 HOURS / MONTH) <i class="fa fa-check"></i></li>
                                  <li class="na">WORKSPACE BRANDING <i class="fa fa-check"></i></li>                                    
                          </div>
                          <a class="main-btn main-btn-2" href="/tour">Book space</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pricing-dot">
              <img src="assets/images/pricing-dot.png" alt="pricing">
          </div>
      </div>
  </section>
  
  <!--====== PRICING PART ENDS ======-->

  <!--====== PLAY PART START ======-->
  
  <div class="play-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="play-thumb">
                      <img src="assets/images/design.jpg" alt="play">
                      <a class="main-btn" href="https://www.youtube.com/watch?v=2aOlmzDVCu0&ab_channel=HarHubTV" target="_blank"><i class="fa fa-play"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <!--====== PLAY PART ENDS ======-->

  <!--====== WE LISTEN PART START ======-->
  
  <section class="we-listen-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="we-listen-content">
                      <h3 class="title">We listen and work together.</h3>
                      <p>There are many variations of passages the majority have suffered alteration in some fo injected humour.</p>
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="thumb mt-30">
                                  <img src="assets/images/presentation.jpg" alt="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="thumb mt-30">
                                  <img src="assets/images/listen.jpg" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="faq-accordion">
                      <div class="accrodion-grp"  data-grp-name="faq-accrodion">
                          <div class="accrodion active  animated wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                              <div class="accrodion-inner">
                                  <div class="accrodion-title">
                                      <h4>1. Entrepreneurship Training</h4>
                                  </div>
                                  <div class="accrodion-content">
                                      <div class="inner">
                                          <p>Sharing ideas/knowledge supports both entrepreneurs & experienced executives.</p>
                                      </div><!-- /.inner -->
                                  </div>
                              </div><!-- /.accrodion-inner -->
                          </div>
                          <div class="accrodion   animated wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="300ms">
                              <div class="accrodion-inner">
                                  <div class="accrodion-title">
                                      <h4>2. Business incubation services </h4>
                                  </div>
                                  <div class="accrodion-content">
                                      <div class="inner">
                                          <p>HarHub Business Incubation is designed to empower entrepreneurs, freelancers, and digital nomads with safe, secure, cool, and work-oriented space to foster startups growth and sustainability.</p>
                                      </div><!-- /.inner -->
                                  </div>
                              </div><!-- /.accrodion-inner -->
                          </div>
                          <div class="accrodion animated wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="600ms">
                              <div class="accrodion-inner">
                                  <div class="accrodion-title">
                                      <h4>3. Networking events</h4>
                                  </div>
                                  <div class="accrodion-content">
                                      <div class="inner">
                                          <p>Network with professionals in your industry – join us for our business networking events.</p>
                                      </div><!-- /.inner -->
                                  </div>
                              </div><!-- /.accrodion-inner -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <!--====== WE LISTEN PART ENDS ======-->

  <!--====== NEWS 2 PART START ======-->
  
  <section class="news-2-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="news-title text-center">
                      <h3 class="title">News & articles.</h3>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-7 col-sm-9">
                  <div class="news-item mt-30">
                      <div class="news-thumb">
                        <img  style = "width: 370px; height: 316px;" src="../assets<%=blogs[0].pic%>" alt="news">
                    </div>
                      <div class="news-content">
                          <ul>
                              <li><i class="fa fa-user-o"></i> by admin</li>
                          </ul>
                          <h3 class="title"><%=blogs[0].blogName%></h3>
                          <a href="/<%=blogs[0].category%>"><i class="flaticon-right-arrow"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="news-item mt-30">
                    <div class="news-thumb">
                      <img  style = "width: 370px; height: 316px;" src="../assets<%=blogs[0].pic%>" alt="news">
                  </div>
                    <div class="news-content">
                        <ul>
                            <li><i class="fa fa-user-o"></i> by admin</li>
                        </ul>
                        <h3 class="title"><%=blogs[0].blogName%></h3>
                        <a href="/<%=blogs[0].category%>"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>              <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="news-item mt-30">
                    <div class="news-thumb">
                      <img  style = "width: 370px; height: 316px;" src="../assets<%=blogs[0].pic%>" alt="news">
                  </div>
                    <div class="news-content">
                        <ul>
                            <li><i class="fa fa-user-o"></i> by admin</li>
                        </ul>
                        <h3 class="title"><%=blogs[0].blogName%></h3>
                        <a href="/<%=blogs[0].category%>"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>

          </div>
      </div>
      <div class="news-pattern">
          <img src="assets/images/fun-facts-pattern.png" alt="">
      </div>
  </section>
  
  <!--====== NEWS 2 PART ENDS ======-->

  <!--====== CTA 2 PART START ======-->
  
  <section class="cta-2-area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4">
                  <div class="cta-content">
                      <h3 class="title">Fully equipped meeting rooms available</h3>
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="cta-content">
                      <p> We have a flexible mentality. We embrace creativity to be a hub for business-and people-driven impact in all Somali-speaking regions and beyond. What are you waiting for?</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="cta-content text-left text-lg-right">
                      <a class="main-btn" href="/tour">Book a tour</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="cta-dot">
          <img src="assets/images/cta-dot-2.png" alt="cta">
      </div>
      <div class="cta-dot-2">
          <img src="assets/images/cta-dot.png" alt="cta">
      </div>
  </section>
  
  <!--====== CTA 2 PART ENDS ======-->
<%-include('partials/index-footer')%>
